<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Index</title>
    <style>
        .form-index {
            max-width: 400px; 
            margin: auto; 
        }
        .user-greeting {
            font-size: 2rem; 
            line-height: 1.5; 
        }
    </style>
</head>
<body class="text-center">
    <main class="form-index mt-5"> 
        <div class="d-flex flex-column align-items-center justify-content-center mb-3">
            <img src="https://cdn-icons-png.flaticon.com/128/12515/12515988.png" alt="User  Icon" width="72" height="72" class="mb-2">
            <p th:text="'Olá, ' + ${userName} + '!' " class="user-greeting mb-0"></p>
        </div>
        <p class="h5">Escolha um CAPTCHA:</p>
        <form action="captcha" method="get">
            <select name="captchaOption" class="form-select w-100" required>
                <option th:each="captcha : ${captchaOptions}" 
                        th:value="${captcha}" 
                        th:text="${captcha}"></option>
            </select>
            <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sair</button> 
        </form>
        <a href="/info" class="w-100 btn btn-lg btn-secondary mt-3">Info</a>
        <a href="/usuarios" class="w-100 btn btn-lg btn-info mt-3">Usuários</a>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>