<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
   <title>Login</title>
   <style>
       .form-signin {
           max-width: 400px;
           margin: auto; 
       }
   </style>
</head>
<body class="text-center">
    <main class="form-signin mt-5">
        <form action="/login" method="post">
            <img class="mb-4" src="https://cdn-icons-png.flaticon.com/512/10464/10464857.png" alt="Login logo" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal">Login</h1>
            <div class="form-floating">
                <input type="text" class="form-control" id="name" name="name" placeholder="Digite seu nome" required>
                <label for="name">Nome</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Entrar</button> 
        </form>
        
        <a href="/bootstrap" class="w-100 btn btn-lg btn-secondary mt-3">Ir para Bootstrap</a>
        
        <p class="mt-5 mb-3 text-muted">© 2023</p>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>